<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products"
                       ng-click="vm.gotoProducts()"
                       translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="product-image" hide-xs>
                    <img class="product-image" ng-src="{{vm.product.image}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.product.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="EC.PRODUCT_DETAIL">Product Detail</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.formupdate()">
                <span translate="EC.SAVE">SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.BASIC_INFO">Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block">
                                <label translate="EC.PRODUCT_NAME">Product Name</label>
                                <input type="text" ng-model="vm.product.name" disabled>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.PRODUCT_DESCRIPTION">Product Description</label>
                                <input type="text" ng-model="vm.product.description" disabled>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.GENDER">Gender</label>
                                <input type="text" ng-model="vm.product.gender" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.SKU">SKU</label>
                                <input type="text" ng-model="vm.product.sku" disabled>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.EAN">Ean</label>
                                <input type="text" ng-model="vm.product.ean" disabled>
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.DETAILS">Details</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block">
                                <label translate="EC.COLOR">Color</label>
                                <input type="text" ng-model="vm.product.color_name" disabled>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.COLLECTION">Colletion</label>
                                <input type="text" ng-model="vm.product.collection_name" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.MODEL">Model</label>
                                <input type="text" ng-model="vm.product.model_name" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.LINE">Line</label>
                                <input type="text" ng-model="vm.product.line_name" disabled>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.COMPOSITION">Composition</label>
                                <input type="text" ng-model="vm.product.composition_name" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.FAMILY">Family</label>
                                <input type="text" ng-model="vm.product.family_name" disabled>
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.SECTION">Section</label>
                                <input type="text" ng-model="vm.product.section_name" disabled>
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            
            
            <md-tab>
                <md-tab-label>
                    <span translate="EC.SIZES">Sizes</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <div class="content fullpage-datatable" layout="column" flex>

                            <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                                   dt-options="vm.dtOptions">
                                <thead>
                                    <tr>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Size</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Price</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Quantity</span>
                                            </div>
                                        </th>
                                        <th class="secondary-text">
                                            <div class="table-header">
                                                <span class="column-title">Weight</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in ::vm.sizes">
                                        <td>{{product.size}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.weight}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            
            
            <md-tab>
                <md-tab-label>
                    <span translate="EC.PRODUCT_IMAGES">Product Images</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">


                                    <div class="product-image" layout="row"
                                         layout-align="center center">
                                        <img class="media" ng-src="{{foto.image}}" width="200px" ng-repeat="foto in ::vm.fotos">
                                    </div>

                    </div>
                </md-tab-body>
            </md-tab>
 
            <md-tab>
                <md-tab-label>
                    <span translate="EC.META">Meta</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form>
                            <md-input-container class="md-block">
                                <label translate="EC.META_DESCRIPTION">Description</label>
                                <input type="text" ng-model="vm.product.meta_description">
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.META_KEYWORD">Keyword</label>
                                <input type="text" ng-model="vm.product.meta_keyword">
                            </md-input-container>
                            
                            <md-input-container class="md-block">
                                <label translate="EC.META_TITLE">Title</label>
                                <input type="text" ng-model="vm.product.meta_title">
                            </md-input-container>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
            
            
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>